@media (max-width: 365px) {
    .row-why {
        display: inline;
    }

}

@media (max-width: 930px) {
    .row-why {
        display: inline;
    }
}

@media (min-width: 762px) {
    .openbtn {
        display: none;
    }
}